<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611889861380-n5glrbceshvoo97l4108o5i01kj041lj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611889861380-n5glrbceshvoo97l4108o5i01kj041lj</string>
	<key>API_KEY</key>
	<string>AIzaSyCJRZRbTXBMh7Mdt7j-NhJwzvcEgzX9BQk</string>
	<key>GCM_SENDER_ID</key>
	<string>611889861380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.GiuliaThanksYou</string>
	<key>PROJECT_ID</key>
	<string>giuliathanksyou</string>
	<key>STORAGE_BUCKET</key>
	<string>giuliathanksyou.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611889861380:ios:23648342c5c07f4321b651</string>
</dict>
</plist>